<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<!--SEARCH BAR-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar" id="navbarColor01">
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Buscar" id="1">
                    <button class="btn btn-secondary" type="submit">Buscar</button>
                </form>
                <a>&nbsp;</a>
                <register-modal></register-modal>
            </div>
        </div>
    </nav>
</header>

<body>


    <!--TABLE-->
    <div>
        <table class="table table-hover">
            <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.id }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteItem(item.id)">Eliminar</button>
                    <a>&nbsp;</a>
                    <a (click)="setItem(item)">
                        <update-modal></update-modal>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>